.wrapper {
    width: 1200px;
}

.page-header {
    display: block;
    margin: 16px auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.cart-headers {
    display: flex;
    justify-content: space-between;
}

.first-col,
.product-info {
    width: 400px;
}

.second-col,
.product-quantity {
    margin-left: -300px;
}

.third-col,
.product-price {
    width: 100px;
    text-align: end;
}

.product {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

.product-image {
    width: 100px;
    aspect-ratio: 1 / 1;
}

.product-info {
    display: flex;
}

.product-actions {
    margin-left: 12px;
}

.product-name {
    font-size: 1.8rem;
    font-weight: 600;
}

.delete-action {
    display: flex;
    margin-top: 8px;
}

.delete-btn {
    display: block;
    background-color: transparent;
    border: none;
    margin-left: 12px;
    cursor: pointer;
    padding: 4px;
}

.product-quantity,
.product-price {
    height: 100%;
    line-height: 100px;
}

.no-products-label {
    display: block;
    text-align: center;
    margin: 100px 0;
}

.no-products-btn {
    display: block;
    max-width: 275px;
    text-align: center;
    padding: 16px 48px;
    background-color: #d9d9d9;
    margin: 0 auto;
    font-weight: 600;
}

.others {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.describe {
    font-size: 1.4rem;
    max-width: 40%;
}

.payment-header {
    margin-right: 64px;
}

.payment-value {
    font-weight: 600;
    margin: 0;
}

.purchase-btn {
    background-color: #d9d9d9;
    padding: 8px 16px;
    display: block;
    margin: 8px 0;
    width: 150px;
    text-align: center;
    margin-left: calc(1200px - 150px);
}
