.wrapper {
    width: 1000px;

    height: 200px;
    position: relative;
}

.add-btn {
    position: absolute;
    top: -50px;
    padding: 8px 16px;
    background-color: black;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: rgb(45, 45, 45);
    }
}

.table-header {
    height: 60px;
    background-color: black;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 60px;
    padding: 0 16px;
}

.data-table {
    padding: 8px 16px;
    background-color: #d9d9d9;
}

.data-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.data-col {
    display: block;
    width: 15%;
    margin: 8px 0;

    &.header {
        font-weight: 600;
        margin: 4px 0;
    }

    &.index-col {
        width: 5%;
    }

    &.last-col {
        width: 7%;
    }
}
