@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --grey-color: #636363;
    --footer-text-color: #8897a4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
