.wrapper {
    width: 1200px;
}

.search-header {
    width: 100%;
    margin: 16px auto;
    text-align: center;
    font-size: 3rem;
}

.search-description {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
}

.search-items {
    margin: 48px 0;
}

.item {
    width: 400px;
    margin-top: 32px;
}
